<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="com.dezng.monitor.MonitorInitProvider"
            android:authorities="com.dezng.monitor.app"
            android:exported="true"
            tools:replace="android:authorities"/>
    </application>

</manifest>